* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  color: white;
}

button {
  font-family: "Poppins", sans-serif;
}

.remote-feed-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: rgb(150, 212, 112);
}

.remote-feed-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

.local-feed-container {
  position: absolute;
  bottom: 60px;
  right: 20px;
  width: 15%;
  height: 30%;
  min-width: 180px;
}

.local-feed-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 60px;
  padding: 10px;
  align-items: center;
}

.action-icon-button {
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px 12px;
  max-height: 40px;
}

.call-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.action-icon-button p {
  font-size: 15px;
  padding-right: 10px;
  font-weight: 600;
}

.action-icon-button:hover {
  background-color: rgb(76, 0, 255);
  color: black;
}

.end-call-button {
  background-color: rgb(251, 65, 65);
}

.end-call-button:hover {
  background-color: red;
}

.icon {
  width: 40px;
  height: 20px;
}
