* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.remote-feed-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: antiquewhite;
}

.remote-feed-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  width: 100%;
  justify-content: space-between;
}

.local-feed-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 18%;
  height: 30%;
}

.local-feed-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
