* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.remote-feed-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: antiquewhite;
}

.remote-feed-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  width: 100%;
  justify-content: space-between;
}

.local-feed-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 15%;
  height: 32%;
}

.local-feed-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.action-buttons {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.action-icon-button {
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 40px;
  height: 20px;
}
